/******自定义初始样式********/

body,
button,
input {
    font: 12px arial;
    /*默认字体大小.*/
}

li {
    list-style-type: none;
}

a {
    color: rgb(245, 241, 241);
    text-decoration: none;
    /*去除下划线*/
}

input,
button {
    border: none;
    outline: none;
}

body {
    background-color: #f8fafc;
    height: auto;
}


/******自定义初始样式********/

.w {
    width: 1190px;
    margin: auto;
}


/******顶部栏********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-nav {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    background-color: #f5f5f5;
    font-size: 12px;
    padding: 10px 0;
}

.Center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav .w .login .login_button:hover,
.top-nav .w .login .register_button:hover {
    color: #28ABFF;
}

.top-nav .login {
    float: left;
}

.top-nav .nav-lists {
    float: right;
}

.top-nav .nav-lists li {
    display: inline-block;
    margin-left: 10px;
}


/******搜索框********/

.logo {
    top: 33px;
    position: absolute;
    width: 150px;
    height: 56px;
    left: 15px;
    line-height: 56px;
    font-size: 40px;
    color: #e63e3e;
    font-weight: bold;
    text-align: center;
}

.search-box {
    padding: 40px 0 40px 300px;
}

.searchWrap .w {
    position: relative;
}

.search-box .searchInput {
    width: 530px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 15px;
}

.search-box .search-input {
    float: left;
    width: 530px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 15px;
}

.search-box .search-btn {
    float: left;
    width: 50px;
    height: 42px;
    background-color: #c41a3f;
    color: #fff;
}

.search-suggest {
    display: none;
    position: absolute;
    top: 82px;
    background-color: #ffff;
    width: 550px;
    border: 1px solid #ddd;
    z-index: 10;
}

ul.search-suggest li {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 10px;
}

ul.search-suggest li:hover {
    color: #ff9f00;
    background: #ddd;
    cursor: pointer;
}

.bottom-nav {
    height: auto;
    min-height: 50px;
    background-image: url('../img/nav-background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    overflow: hidden;
}

.bottom-nav ul {
    float: left;
    margin-left: 18%;
    line-height: 50px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.bottom-nav ul li {
    float: left;
    padding: 0 20px;
}

.bottom-nav ul li>a {
    color: #262626;
    font-size: 14px;
    display: inline-block;
    position: relative;
}

.bottom-nav ul li:nth-child(1) a:before {
    left: -12px;
}

.bottom-nav ul li a:before {
    content: "";
    background: #A10000;
    position: absolute;
    bottom: -3px;
    z-index: -1;
    transform: scaleX(0);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.bottom-nav .sList {
    position: absolute;
    left: 0;
    z-index: 3;
    background: #fff;
    width: 100%;
    display: none;
}

.bottom-nav .sList div dl dt img {
    width: 70%;
}

.bottom-nav .sList div a {
    flex: 1 1 20%;
    border-right: 1px solid #dbdbdb;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.bottom-nav .sList div {
    text-align: center;
    padding: 20px 0;
    display: flex;
}

.bottom-nav .sList2 {
    display: none;
    position: absolute;
    top: 113px;
    left: 0;
    z-index: 3;
    background: #fff;
    width: 100%;
}

.bottom-nav .sList2 div {
    width: 46%;
    margin: 0 auto;
}

.bottom-nav .sList2 a {
    float: left;
    margin-right: 40px;
}

.top-nav img {
    /*display: none;*/
    width: 100%;
    display: none;
}

.top-nav p a {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 30px;
    background: #fff;
    right: 330px;
    padding: 2px;
    z-index: 10;
    border: 1px solid #A10000;
    display: none;
}


/******搜索框********/


/******商品分类轮廓图********/

.menu {
    padding-bottom: 30px;
}

.aside-nav {
    float: left;
    width: 200px;
    height: 500px;
    box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.2);
    /*2px水平位移,6px垂直位移.9px的阴影*/
    z-index: 2;
}

.list-item .item-href {
    display: block;
    height: 50px;
    margin: 0 20px;
    line-height: 50px;
    width: 180px;
    float: left;
    color: #333;
    border-bottom: 1px dotted #ddd;
    box-sizing: border-box;
}

.list-item:last-child .item-href {
    border: none;
}


/******商品分类轮廓图********/


/******二级分类********/

.list-item:last-child .item-href {
    border: none;
}

.nav-list {
    position: relative;
    width: 150px;
}

.nav-list .item-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    width: 900px;
    min-height: 500px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, .2);
}

.nav-list .list-item {
    min-width: 100px;
}

.subcate {
    float: left;
    width: 610px;
    padding: 30px 20px 20px 20px;
}

.subcate .subcate_link {
    float: left;
}

.subcate .subcate_item {
    position: relative;
    padding-left: 80px;
}

.list-item:hover,
.list-item:hover .item-href {
    background-color: #e63625;
}

.subcate .subcate_item .subcate_title {
    position: absolute;
    left: 0;
    top: 6px;
    width: 70px;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
}

.subcate_title .subcate_title_arrow {
    margin-left: 5px;
}

.subcate .subcate_con .subcate_con_lk {
    float: left;
    height: 16px;
    line-height: 16px;
    border-left: 1px solid #ddd;
    padding: 0 10px;
    margin: 3px 0;
}

.list-item:hover .item-menu {
    display: block;
}

.subcate .subcate_link:hover,
.subcate .subcate_con .subcate_con_lk:hover {
    color: #e63625;
}

.subcate .subcate_con {
    padding: 5px 0;
}


/******二级分类********/


/******猜你喜欢********/

.guessLike {
    float: left;
    width: 250px;
    display: block;
    position: relative;
    padding-top: 30px;
}

.guessLike h3 {
    color: #666;
    text-align: center;
}

.like_item {
    float: left;
}

.like_item .like_lk {
    display: block;
    width: 100px;
    padding: 10px 0 0 15px;
}

.like_item .like_lk img {
    width: 100px;
    height: 100px;
}

.like_lk:hover img {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.like_item .like_lk p {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    overflow: hidden;
    white-space: no;
    text-overflow: ellipsis;
    color: #666;
}

.like_lk:hover p {
    color: #e63625;
}


/******猜你喜欢********/


/******轮播图********/

.banner-wrap {
    float: left;
    margin-left: 20px;
}

.banner-wrap .banner {
    position: relative;
    width: 970px;
    height: 500px;
}

.banner-wrap .banner ul {
    width: 100%;
    display: flex;
}

.banner-wrap .banner ul li {
    transition: opacity 1s;
}

.banner-wrap .banner ul li a {
    display: block;
    width: 970px;
    height: 500px;
}

.banner-wrap .banner ul li a img {
    width: 100%;
    height: 100%;
}

.swiper-arrow {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
    transform: translateY(-50%);
    margin-top: -18px;
}

.prev {
    left: 30px;
}

.next {
    right: 30px;
}

.indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 14px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.indicators .indicator {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 5px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.indicators .on {
    background-color: #fff500;
}


/******轮播图********/


/******秒杀专区********/

.miaosha {
    margin-top: 30px;
    padding-bottom: 40px;
}

.miaosha .miaosha-time {
    position: relative;
    float: left;
    width: 200px;
    height: 300px;
    background-color: #e63e3e;
    color: #fff;
}

.miaosha-time .miaosha_tit {
    text-align: center;
    font-size: 34px;
    margin-top: 40px;
}

.miaosha-time .ms_desc {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100px;
    font-size: 16px;
    text-align: center;
}

.countdown {
    position: absolute;
    left: 32.5px;
    bottom: 20px;
}

.countdown .cd_item {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}

.miaosha-list {
    float: left;
    width: 990px;
    height: 275px;
}

.miaosha-list .ms-item {
    float: left;
    width: 198px;
    height: 300px;
    background-color: #fff;
}

.ms-item-lk {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.ms-item-lk .mss-item-img {
    display: block;
    width: 140px;
    height: 140px;
    margin: auto;
    padding: 20px;
}

.ms-item-lk .ms-item-name {
    padding: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ms-item-buy {
    line-height: 20px;
    margin: 10px 0;
    text-align: center;
}

.ms-item-buy .progress {
    display: inline-block;
    width: 100px;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin: 5px 5px 0 0;
}

.ms-item-buy .progress .progress-bar {
    display: block;
    width: 30%;
    height: 10px;
    background-color: #e63e3e;
    border-radius: 5px 0 0 5px;
}

.ms-item-buy .buy-num {
    display: inline-block;
    color: #e63131;
    font-size: 12px;
}

.ms-item-price {
    display: block;
    width: 170px;
    margin: auto;
    border: 1px solid;
}

.ms-item-lk:hover .ms-item-img {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.ms-item-price .cm-price {
    float: left;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.ms-item-price .new-price {
    font-size: 14px;
    background-color: #e63131;
    color: #fff;
    font-weight: bold;
}

.origin-price .origin-price {
    font-size: 12px;
    color: #999;
}

.ms-item-lk:hover .ms-item-name {
    color: #e63131;
}


/******秒杀专区********/


/******热门专区********/

.layer-inner {
    background-color: #fff;
}

.layer-inner h3 {
    font-size: 20px;
    height: 22px;
    padding: 20px;
    line-height: 22px;
    border-bottom: 1px;
    border-bottom: 1px solid #f5f5f5;
}

.layer-inner h3::before {
    content: "";
    float: left;
    width: 4px;
    height: 16px;
    margin: 3px 6px 0 0;
}

.hotSale {
    color: #e63625;
}

.hotSale::before {
    background-color: #e63635;
}

.saleList {
    position: relative;
}

.saleList .item {
    position: relative;
    float: left;
    width: 235px;
    padding: 20px;
    border: 1px solid #f8fafc;
}

.saleList .item a {
    display: block;
}

.saleList .item a .item-img {
    height: 196px;
    width: 196px;
}

.saleList .item .title {
    font-size: 14px;
    margin: 8px;
    color: #666;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}

.saleList .comment,
.saleList .collect {
    float: left;
    color: #999;
    margin-right: 10px;
}

.saleList .comment em,
.saleList .collect em {
    font-style: normal;
    color: #999;
    margin-left: 5px;
}

.saleList .line-2 {
    margin-bottom: 10px;
}

.saleList .strong {
    color: #e63535;
    font-size: 22px;
    margin-right: 2px;
}

.saleList .strong::before {
    content: '\A5';
    font-size: 14PX;
    color: #E63635;
    margin-right: 3px;
}

.saleList .price-through {
    text-decoration: line-through;
    color: #999;
}

.saleList .sell {
    float: right;
    color: #999;
    margin-top: 5px;
}

.saleList .bs-item:hover {
    transition: border-color .3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.layer {
    padding-bottom: 50px;
}


/******热门专区********/


/******猜你喜欢********/

.saleList .item .item-more {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: none;
    text-align: center;
    font-size: 14px;
    background-color: #e63131;
    color: #fff;
}

.saleList .like-item:hover {
    float: left;
    border-color: #e63131;
}

.saleList .like-item:hover .item-more {
    display: block;
}

.likeSale {
    color: #ff9f00;
}

.likeSale::before {
    background-color: #ff9f00;
}

.loadMore span {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #e63131;
    margin: auto;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.loadMore {
    padding: 30px;
    display: block;
}


/******猜你喜欢********/


/******网页版权********/


/******网页版权********/


/******悬浮菜单********/

.tool {
    position: fixed;
    top: 80px;
    right: 10px;
    width: 50px;
    text-align: center;
    z-index: 10;
}

.tool a {
    display: block;
    font-size: 13px;
    height: 50px;
    line-height: 17px;
    background-color: #fff;
    padding: 8px 8px 0;
    cursor: pointer;
}

.tool a::after {
    content: "";
    position: absolute;
    left: 8px;
    bottom: -1px;
    width: 34px;
    border-bottom: 1px solid #efefef;
    z-index: 5;
}

.tool a.on,
.tool a:hover {
    background-color: #e63131;
    color: #fff;
    z-index: 6;
}

.tool-item1 {
    color: #e63131;
}

.tool-item2 {
    color: #28ABFF;
}

.tool-item3 {
    color: #ff9f00;
}

.top-arrow {
    display: block;
    width: 6px;
    height: 6px;
    border-left: 1.5px solid #999;
    transition: rotateX(45deg);
    margin: 5px auto;
}

.tool a:hover .top-arrow {
    border-color: #fff;
}

.tool-item5 {
    line-height: 40px;
}

#goTop {
    display: none;
}


/******悬浮菜单********/


/******全局动画********/

.a1 {
    z-index: -1;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: scale(1);
}

.l {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
}

#navigator {
    z-index: 999;
    position: fixed;
    /*top: -3rem;*/
    left: 0;
    width: 100vw;
    height: 3rem;
    /*display: flex;*/
    flex-direction: row;
    /*justify-content: flex-start;*/
    align-items: center;
}

#navigator::before {
    z-index: 3;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.3;
}

#MainText {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 9;
    text-align: center;
    line-height: 100vh;
    font-size: 150px;
    transform: scale(6);
    word-break: keep-all;
    opacity: 1;
    display: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: "黑体";
}

#MainContent {
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 60px #AAAAAA;
}

header .a1:nth-child(1) {
    background: url(/img/ShoeBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header .a1:nth-child(2) {
    background: #607d8b;
}

header .a1:nth-child(2) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

header .a1:nth-child(2) #container5p {
    width: 700px;
    height: 400px;
    position: absolute;
    filter: blur(0.5);
    background: transparent;
    border-radius: 20px;
    left: 200px;
}

header .a1:nth-child(2) p {
    font-size: 20px;
    font-family: "黑体";
    font-weight: 700;
    color: #d9d9d9;
    font-display: auto;
    user-select: none;
}

header .a1:nth-child(2) p span {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

header .a1:nth-child(2) p span.active {
    animation: smoke 4s linear forwards;
    transform-origin: bottom;
}

header .a1:nth-child(2) h2 {
    font-size: 72px;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 20px;
    color: #d9d9d9;
    text-shadow: 1px 1px 2px #fdfdfd;
}

header .a1:nth-child(2) a {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 20px;
    color: #fff;
    text-decoration: underline;
}

header .a1:nth-child(2) input {
    background: #fff;
    color: #000;
    max-width: 220px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Lexend);
    cursor: pointer;
}

header .a1:nth-child(2) .coffeeDiscount {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

header .a1:nth-child(2) .coffeeDiscount img {
    cursor: pointer;
    width: 40%;
    height: 40%;
    object-fit: contain;
    position: relative;
    float: left;
}

@keyframes smoke {
    0% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) translateY(0) rotate(0deg) scale(1);
    }
    30% {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    }
    100% {
        opacity: 1;
        transform: translateX(0) translateY(0) rotate(0deg) scale(1);
    }
}

header .a1:nth-child(3) {
    background: url(/img/BackgroundMain.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.StartOfBegin {
    font-size: 30px;
}

#Start {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}


/******全局动画********/


/***************************************第一张卡片***************************************************/

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.15), 0 20px 20px rgba(0, 0, 0, 0.15);
    margin: auto;
}

.card:hover {
    transform: perspective(2000px) translateX(50%) translate(center);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.15), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

.card .details h3 {
    font-weight: 500;
    margin: 5px 0;
}

.card .details h2 {
    font-size: 1.5em;
    color: #e82a5b;
    font-weight: 600;
}

.card details a {
    display: inline-block;
    padding: 8px 20px;
    background: #47bfce;
    color: #fff;
    margin-top: 5px;
    letter-spacing: 1px;
    border-radius: 25px;
    font-weight: 500;
    text-decoration: none;
}

.card .cover {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    overflow: hidden;
    transition: 1s ease-in-out;
    transform-origin: left;
}

.card .cover img {
    max-width: 100%;
    z-index: 1;
}

.card img {
    width: 70%;
    height: 70%;
    border: 2px solid white;
}

.card .cover::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 150%;
    background: #fff;
    transform: rotate(36.5deg);
    box-shadow: 0 0 0 20px #47bfce;
    transition: 0.5s;
    transition-delay: 1s;
}

.card:hover .cover::before {
    width: 0;
    box-shadow: 0 0 0 250px #47bfce;
    transform: rotate(143.5deg);
}

.card:hover .cover {
    transform: rotateY(-180deg);
}


/***************************************第一张卡片***************************************************/


/***************************************第五张卡片***************************************************/

.container5 {
    position: absolute;
    right: 200px;
}

.cup5 {
    position: relative;
    width: 280px;
    height: 240px;
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

.top5 {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-radius: 50%;
    z-index: 2;
}

.circle5 {
    position: absolute;
    top: 5px;
    left: 10px;
    width: calc(100% - 20px);
    height: 60px;
    background: linear-gradient(to left, #faf9f9, #d9d9d9);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.tea5 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#c57e65, #e28462);
    border-radius: 50%;
}

.handle5 {
    position: absolute;
    left: 210px;
    top: -20px;
    width: 220px;
    height: 400px;
    /*    border: 25px solid #dcdcdc;
     border-left: 25px solid transparent;
     border-bottom: 25px solid transparent;
     border-radius: 50%;
     transform: rotate(42deg);*/
}

.handle_top {
    position: relative;
    border: 25px solid #dcdcdc;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    border-bottom: 25px solid transparent;
    border-left: 25px solid transparent;
    float: left;
}

.handle_bottom {
    width: 160px;
    height: 160px;
    position: relative;
    float: left;
    top: -26px;
    left: 65px;
    border: 25px solid #dcdcdc;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid transparent;
    border-top: 25px solid transparent;
    transform: rotate(220deg);
}

.plate5 {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 200px;
    background: linear-gradient(to right, #f9f9f9, #e7e7e7);
    border-radius: 50%;
    box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2);
}

.plate5::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background: linear-gradient(to left, #f9f9f9, #e7e7e7);
}

.plate5::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background: radial-gradient(rgba(0, 0, 0, 0.2) 25%, transparent, transparent);
    border-radius: 50%;
}

.vapour5 {
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}

.vapour5 span {
    position: relative;
    bottom: 50px;
    display: block;
    margin: 0 2px;
    min-width: 8px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    animation: animationTea 5s linear infinite;
    opacity: 0;
    filter: blur(8px);
    animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animationTea {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    50% {
        transform: translateY(-150px) scaleX(5);
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateY(-300px) scaleX(10);
    }
}


/***************************************第五张卡片***************************************************/